@mixin _font {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-kerning: normal; //kerning
    text-rendering: optimizeLegibility; //enable ligatures for small text for some fonts
    letter-spacing: 0.06em; //6-12% spacing recommending
}

@mixin _fontsize {
    line-height: 1.35;
    font-size: 20px;
    h1 { font-size: 30px; }
}

@mixin thefont {
    @include _font;
    @include _fontsize;
}

.no-text-selection {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.clickable {
    cursor: pointer;
    @extend .no-text-selection;
}
